/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da barra */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor da barra de rolagem */
  border-radius: 5px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor quando o mouse está sobre a barra */
}

/* Para navegadores Firefox */
* {
  scrollbar-width: thin; /* Largura fina */
  scrollbar-color: #888 #f1f1f1; /* Cor da barra e do fundo */
}
