/* Estilos gerais */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container principal da página de login */
.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Cabeçalho da página de login */
.login-header {
  padding-top: 10px;
  position: absolute;
  top: 0%;
  width: 100vw;
  align-items: center;
}


.back-button {
  background: none;
  border: none;
  font-size: 5vw;
  cursor: pointer;
  position: absolute;
  left: 2vw;
  top: 3vw;
}

/* Formulário de login */
.content {
  /* background-image: url(./assets/EngFundo.png); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 600px;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}

.content h2 {
  color: #333;
  font-weight: bold;
}

.nome-site{
  padding-top: 1vh;
  position: absolute;
  top: 15px;
  font-size: 26px;
  color: #333;
}


.logo {
  width: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1000px) {
  .logo {
    width: 15vw;
  }
}
@media (min-width: 1500px) {
  .logo {
    width: 10vw;
  }
}


.content input {
  border-radius: 9px 9px 0px 0px;
  width: 100%;
  padding: 5px 0;
  margin: 0px 0;
  border: none;
  border-bottom: 2px solid #525252;
  font-size: 18px;
  margin-bottom: 1vh;
}
.dataInput{
  color:#707070;
}
input:focus {
  border-bottom: 2px #4e75be solid;
  background-color: #ffffff; /* Cor de fundo ao focar */
  outline: none; /* Remove o contorno padrão */
}
#exTel{
display: flex;
padding-left: 0;
text-align: left;
justify-content: left;
align-items: center;
}


p{color: #727272;; width: 100%; height: 28px;}


#mostrarSenha{
  margin-top: 15px;
  
}


.login-button {
  margin-top: 30px;
  width: 100%;
  padding: 18px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.login-button:hover {
  background-color: light;
}


/* Link para criar uma nova conta */
.signup-link {
  margin-top: 20px;
  font-size: 16px;
}

.signup-link a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
#a{
  background-color: aqua;
}
#b{
  
  background-color: red;
}
#c{
  width: 500px;
}
.error-message{
  color: red;
}